<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Club de entrenamiento</title>
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="../styles/landing.css">
</head>

<body style="color: black;">

  <div class="wrapper">
    <div class="table basic">
      <div class="head_tab">
        <h2>Basico</h2>
      </div>
      <div class="aj_p">
        <p>Ideal solution for beginners</p>
      </div>
      <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="text">$</span>
            <span class="price">150<span style="font-size:12px">/mo</span></span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <div class="btn"><button>Suscribirse</button></div>
      </ul>
    </div>

    <div class="table premium">
      <div class="head_tab">
        <h2>Intermedio</h2>
      </div>
      <div class="aj_p">
        <p>Perfect package for personal</p>
      </div>
      <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="text">$</span>
            <span class="price">300<span style="font-size:12px">/mo</span></span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <div class="btn"><button>Suscribirse</button></div>
      </ul>
    </div>

    <div class="table ultimate">
      <div class="head_tab">
        <h2>Premium</h2>
      </div>
      <div class="aj_p">
        <p>Perfect package for businesses</p>
      </div>
      <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="text">$</span>
            <span class="price">3000<span style="font-size:12px">/mo</span></span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <div class="btn"><button>Suscribirse</button></div>
      </ul>
    </div>

  </div>
</body>

</html>