<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/main.css">
  <link rel="stylesheet" href="../../styles/navbar.css">
  <link rel="stylesheet" href="../../styles/machines.css">
  <title>Maquinas del gym</title>
</head>

<body>
  <%- include('../includes/navbar.ejs') %>
  <main>

    <% for(let maquina of maquinas) { %>
      <div class="machine_card">
        <div class="image">
          <img src="../../assets/machines/<%=maquina.imagen%>" alt="">
        </div>
        <div class="body_card">
          <div class="title">
            <p><%= maquina.nombre %></p>
          </div>
          <div class="description">
            <p><%= maquina.descripcion %></p>
          </div>
        </div>
      </div>
    <% } %>
      
  </main>
</body>

</html>