<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/main.css">
  <link rel="stylesheet" href="../../styles/routines.css">
  <link rel="stylesheet" href="../../styles/navbar.css">
  <title>Rutinas</title>
</head>
<body>
  <%- include('../includes/navbar.ejs') %>
  <main>


    <div class="title">
      <h1>Rutina para ganar masa muscular</h1>
    </div>


    <div class="routine_card">
      <div class="card_header"> 
        <h2>Lunes</h2>
      </div>
      <div class="card_body">

        <table>
          <thead>
            <tr>
              <th>Ejercicio</th>
              <th>Reps</th>
              <th>Sets</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Press de banco con barra</td>
              <td>8-10</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Press de banca inclinado con mancuernas</td>
              <td>8-12</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Aperturas con mancuernas</td>
              <td>10-12</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Extensiones de tríceps con mancuernas</td>
              <td>10-12</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Fondos en paralelas</td>
              <td>10</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>







    <div class="routine_card">
      <div class="card_header"> 
        <h2>Martes</h2>
      </div>
      <div class="card_body">

        <table>
          <thead>
            <tr>
              <th>Ejercicio</th>
              <th>Reps</th>
              <th>Sets</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Remo con barra</td>
              <td>8-12</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Dominadas</td>
              <td>12</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Remo con mancuernas</td>
              <td>8-12</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Curl de bíceps con mancuernas</td>
              <td>12</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Curl de martillo</td>
              <td>10-12</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>





    <div class="routine_card">
      <div class="card_header"> 
        <h2>Miercoles</h2>
      </div>
      <div class="card_body">

        <div class="descanso">
          Descanso
        </div>

      </div>
    </div>





    <div class="routine_card">
      <div class="card_header"> 
        <h2>Jueves</h2>
      </div>
      <div class="card_body">

        <table>
          <thead>
            <tr>
              <th>Ejercicio</th>
              <th>Reps</th>
              <th>Sets</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Sentadillas con barrao</td>
              <td>10</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Prensa de piernas</td>
              <td>12</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Peso muerto</td>
              <td>10</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Press militar con mancuernas</td>
              <td>10</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Elevaciones laterales con mancuernas</td>
              <td>12</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>










    <div class="routine_card">
      <div class="card_header"> 
        <h2>Viernes</h2>
      </div>
      <div class="card_body">

        <table>
          <thead>
            <tr>
              <th>Ejercicio</th>
              <th>Reps</th>
              <th>Sets</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Curl de bíceps con barra</td>
              <td>10</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Curl de concentración</td>
              <td>12</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Extensiones de tríceps con mancuernas</td>
              <td>10</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Plancha abdominal</td>
              <td>1min</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Elevaciones de piernas colgado en barra</td>
              <td>12</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </main>
</body>
</html>