<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/main.css">
  <link rel="stylesheet" href="../../styles/routines.css">
  <link rel="stylesheet" href="../../styles/navbar.css">
  <title>Rutinas</title>
</head>
<body>
  <%- include('../includes/navbar.ejs') %>
  <main>


    <div class="title">
      <h1>Rutina para bajar de peso</h1>
    </div>


    <div class="routine_card">
      <div class="card_header"> 
        <h2>Lunes</h2>
      </div>
      <div class="card_body">

        <table>
          <thead>
            <tr>
              <th>Ejercicio</th>
              <th></th>
              <th>Reps</th>
              <th>Sets</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>caminata en cinta con inclinación</td>
              <td><a target="_blank" href=""><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>20min</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Sentadillas con barra</td>
              <td><a target="_blank" href="https://youtu.be/Jn7hsfc5q4I"><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>10</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Press de banca con mancuernas</td>
              <td><a target="_blank" href="https://youtu.be/sL6xN9EVDfE"><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>10</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Remo en maquina</td>
              <td><a target="_blank" href=""><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>10-12</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>







    <div class="routine_card">
      <div class="card_header"> 
        <h2>Martes</h2>
      </div>
      <div class="card_body">

        <table>
          <thead>
            <tr>
              <th>Ejercicio</th>
              <th></th>
              <th>Reps</th>
              <th>Sets</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>caminata en cinta con inclinación</td>
              <td><a target="_blank" href=""><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>20min</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Levantamiento de piernas en banco</td>
              <td><a target="_blank" href=""><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>12</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Press militar con barra</td>
              <td><a target="_blank" href="https://youtu.be/o5M9RZ-vWrc"><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>12</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Pull-ups en barra fija</td>
              <td><a target="_blank" href=""><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>10</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>






    <div class="routine_card">
      <div class="card_header"> 
        <h2>Miercoles</h2>
      </div>
      <div class="card_body">

        <table>
          <thead>
            <tr>
              <th>Ejercicio</th>
              <th></th>
              <th>Reps</th>
              <th>Sets</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>caminata en cinta con inclinación</td>
              <td><a target="_blank" href=""><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>20min</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Curl de biceps con mancuernas</td>
              <td><a target="_blank" href="https://youtu.be/Aa-kUPuiXZA"><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>12</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Press frances con mancuernas</td>
              <td><a target="_blank" href="https://youtu.be/Aa-kUPuiXZA"><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>10</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Elevaciones laterales con mancuernas</td>
              <td><a target="_blank" href="https://youtu.be/hgLpdwMtEEs"><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>10</td>
              <td>4</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>











    <div class="routine_card">
      <div class="card_header"> 
        <h2>Jueves</h2>
      </div>
      <div class="card_body">

        <table>
          <thead>
            <tr>
              <th>Ejercicio</th>
              <th></th>
              <th>Reps</th>
              <th>Sets</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>caminata en cinta con inclinación</td>
              <td><a target="_blank" href=""><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>20min</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Zancadas con mancuernas</td>
              <td><a target="_blank" href=""><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>12</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Press de hombro con mancuernas</td>
              <td><a target="_blank" href=""><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>10</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Jalones en polea</td>
              <td><a target="_blank" href=""><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>12</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>










    <div class="routine_card">
      <div class="card_header"> 
        <h2>Viernes</h2>
      </div>
      <div class="card_body">

        <table>
          <thead>
            <tr>
              <th>Ejercicio</th>
              <th></th>
              <th>Reps</th>
              <th>Sets</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>caminata en cinta con inclinación</td>
              <td><a target="_blank" href=""><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>20min</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Curl de biceps en polea alta</td>
              <td><a target="_blank" href=""><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>12</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Extensiones de tríceps en polea alta</td>
              <td><a target="_blank" href=""><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>10</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Elevaciones frontales con mancuernas</td>
              <td><a target="_blank" href="https://youtu.be/hgLpdwMtEEs"><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>12</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </main>
</body>
</html>