<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/main.css">
  <link rel="stylesheet" href="../../styles/routines.css">
  <link rel="stylesheet" href="../../styles/navbar.css">
  <title>Rutinas</title>
</head>
<body>
  <%- include('../includes/navbar.ejs') %>
  <main>



    <div class="title">
      <h1>Rutina para reducir el estres</h1>
    </div>


    <div class="routine_card">
      <div class="card_header"> 
        <h2>Lunes</h2>
      </div>
      <div class="card_body">

        <table>
          <thead>
            <tr>
              <th>Ejercicio</th>
              <th></th>
              <th>Reps</th>
              <th>Sets</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Press de banco con barra</td>
              <td><a target="_blank" href="https://youtu.be/GeLq8cMODLc"><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>8</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Press de banca inclinado con mancuernas</td>
              <td><a target="_blank" href="https://youtu.be/sL6xN9EVDfE"><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>12</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Aperturas con mancuernas</td>
              <td><a target="_blank" href="https://youtu.be/xyHdY99F640"><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>12</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Extensiones de tríceps con mancuernas</td>
              <td><a target="_blank" href="https://youtu.be/fQ-KB40W3d8"><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>10</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Fondos en paralelas</td>
              <td><a target="_blank" href="https://youtu.be/fdrhUMQnDCk"><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>10</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>







    <div class="routine_card_descanso">
      <div class="card_header"> 
        <h2>Martes</h2>
      </div>
      <div class="card_body">

        <div class="descanso">
          <h4>
            Descanso
          </h4>
          <img src="../../assets/descanso.png" alt="">
        </div>

      </div>
    </div>





    <div class="routine_card">
      <div class="card_header"> 
        <h2>Miercoles</h2>
      </div>
      <div class="card_body">

        <div class="descanso">
          Descanso
        </div>

      </div>
    </div>



    <div class="routine_card">
      <div class="card_header"> 
        <h2>Jueves</h2>
      </div>
      <div class="card_body">

        <table>
          <thead>
            <tr>
              <th>Ejercicio</th>
              <th></th>
              <th>Reps</th>
              <th>Sets</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Sentadillas con barra</td>
              <td><a target="_blank" href="https://youtu.be/Jn7hsfc5q4I"><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>10</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Prensa de piernas</td>
              <td><a target="_blank" href="https://youtu.be/xvCynwyNoP4"><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>12</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Peso muerto</td>
              <td><a target="_blank" href="https://youtu.be/TYW-YT2-tpk"><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>10</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Press militar con mancuernas</td>
              <td><a target="_blank" href="https://youtu.be/o5M9RZ-vWrc"><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>10</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Elevaciones laterales con mancuernas</td>
              <td><a target="_blank" href="https://youtu.be/hgLpdwMtEEs"><img width="25" height="25" src="../../assets/youtube.png" alt=""></a></td>
              <td>12</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>










    <div class="routine_card_descanso">
      <div class="card_header"> 
        <h2>Viernes</h2>
      </div>
      <div class="card_body">

        <div class="descanso">
          <h4>
            Descanso
          </h4>
          <img src="../../assets/descanso.png" alt="">
        </div>

      </div>
    </div>
  </main>
</body>
</html>