<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/main.css">
  <link rel="stylesheet" href="../../styles/payment.css">
  <link rel="stylesheet" href="../../styles/buttons.css">
  <title>Pago rechazado</title>
</head>

<body>
  <main class="payment-cancel">
    <div class="container">
      <h1>Pago Rechazado</h1>
      <div class="btn-primary btn">
        <a href="/routines">
          <button>Ir al inicio</button>
        </a>
      </div>
    </div>
  </main>

</body>

</html>