main{
  padding: 4em;
}

a{
  background: #fff;
  padding: 1em;
  border-radius: 15px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

div>a:hover{
  background: rgb(242, 33, 26);
}

a:hover{
  background: cyan;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
  color: #fff;
}

th,
td {
  text-align: left;
  padding: 36px;
  border: 1px solid #444
}

th {
  background-color: #222;
  font-weight: bold;
  padding: 1em;
}

tr:nth-child(even) {
  background-color: rgba(157, 157, 157, 0.287); 
}
