main{
  display: flex; 
  flex-direction: column; 
  padding-top: 7em;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.title{
  font-weight: bold;
  font-size: 40px;
}

@media (max-width:756px) {
  main{
    padding: 1.5em;
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .title{
    font-size: 30px;
    text-align: center;
  }
}

@media (max-width:500px) {
  main{
    padding: 1.5em;
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .title{
    font-size: 30px;
    text-align: center;
  }
}